<document>
  <compilationTemplate>
    <list>
      <relatedContent>
        <itemBanner>
          <heroImg src="{{image}}" width="556" height="556" />
        </itemBanner>
      </relatedContent>
      <header>
        <title>{{zone}}</title>
      </header>
      <section>
        {{#each tracks}}
        <listItemLockup>
          <title>{{title}}</title>
          <subtitle>{{artist}}</subtitle>
        </listItemLockup>
        {{/each}}
      </section>
    </list>
  </compilationTemplate>
</document>