<document>
  <head>
    <style>
      .dark-background {
        background-color: rgb(0, 0, 0);
      }
    </style>
  </head>
  <stackTemplate theme="dark" class="dark-background">
    <banner>
      <title>Sonos Controller</title>
    </banner>
    <button>
      <title>Play</title>
    </button>
    <button>
      <title>Pause</title>
    </button>
  </stackTemplate>
</document>